<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitTrack</title>
  <script src="{{{ '/js/login.js' }}}"></script>
  <script src="{{{ '/js/logout.js' }}}"></script>
  <script src="{{{ '/js/signup.js' }}}"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>{{h1}}</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
  <a href="../../controllers/formRoutes.js">Login</a>

    {{/if}}
  </nav>
  {{{body}}}
  <main>
    <aside>
      <h2>{{h2}}</h2>
    </aside>

    <div class="hero">
      <!-- Signup Form -->
      <form id="signup-form">
        <input type="text" id="username-signup" placeholder="Username" required>
        <input type="email" id="email-signup" placeholder="Email" required>
        <input type="password" id="password-signup" placeholder="Password" required>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </main>
  <!-- Link to JavaScript file -->
  <script src="/js/signup.js"></script>
  <!-- Conditionally include logout.js if logged in -->
  {{#if loggedIn}}
  <script src="{{{ '/js/logout.js' }}}"></script>
  {{/if}}
</body>

</html>
