<body>
    <div class="container">
        <h1>Fitness App</h1>
        <form action="/submit" method="post">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
                <label for="exercise">Exercise:{{USERINPUT}}</label>
                <input type="text" id="exercise" name="exercise" placeholder="Enter exercise">
                <label for="reps">Reps:{{Reps}}</label>
                <input type="number" id="reps" name="reps" placeholder="Enter reps">
                <label for="weight">Weight {{weight}}(lbs):</label>
                <input type="number" id="weight" name="weight" placeholder="Enter weight">
            </div>
            <div class="form-group">
                <label for="supplement">Supplement {{SUP}}:</label>
                <input type="text" id="supplement" name="supplement" placeholder="Enter supplement">
                <label for="dosage">Dosage {{DOSE}}:</label>
                <input type="text" id="dosage" name="dosage" placeholder="Enter dosage">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>