<body>
    <header>
        <h1>User Profile</h1>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-auto">
                <h2>Welcome, {{user.username}}!</h2>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Create a New Workout</h3>
                <form class="form new-workout-form">
                    <div class="form-group">
                        <label for="workout-name">Workout Name:</label>
                        <input class="form-input" type="text" id="workout-name" name="workout-name" />
                    </div>
                    <div class="form-group">
                        <label for="workout-reps">Reps:</label>
                        <input class="form-input" type="number" id="workout-reps" name="workout-reps" />
                    </div>
                    <div class="form-group">
                        <label for="workout-weight">Weight (lbs):</label>
                        <input class="form-input" type="number" id="workout-weight" name="workout-weight" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Past Workouts</h3>
                <ul>
                    {{#each user.workouts as |workout|}}
                    <li>
                        <h4>{{workout.name}}</h4>
                        <ul>
                            <li><strong>Reps:</strong> {{workout.reps}}</li>
                            <li><strong>Weight:</strong> {{workout.weight}}</li>
                        </ul>
                        <button class="btn btn-sm btn-primary edit-workout" data-id="{{workout.id}}">Edit</button>
                        <button class="btn btn-sm btn-danger delete-workout" data-id="{{workout.id}}">Delete</button>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </main>

    <script src="./js/profile.js"></script>
</body>
